/* AddCustomerForm.css */

/* Styles for the form container */
.form-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(bg.avif);
}

  
  /* Styles for form labels */
  .form-label {
    display: block;
    font-weight: bold;
    padding: 8px auto;
   
  }
  
  /* Styles for form inputs */
  .form-input {
    width: 100%;
    padding: 8px 10px ;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Styles for form buttons */
  .form-button {
    background-color: #072849;
    color: #f2efef;
    padding: 10px 106px;
    border: none;
    
    border-radius: 5px;
    cursor: pointer;
  }
  .my-test-class {
    background-color: red;
    color: white;
  }
  
  